<!--header start-->


<!--first page start -->

<div class="about_section mt-60" style="max-width:590px;margin:50px auto;">
	<div class="container">
		<div class="row">
			<!--Login start-->
			<div class="login_1">

				<div class="panel_heading heading_2">
					Login page
				</div>

				<div class="img_1">
					<img src="assets/img/img/logo/logo.png" alt="path not correct" />
				</div>

				<div class="inner">

					<form class="inner_form" [formGroup]="OBSLoginForm" (ngSubmit)="LoginAction(OBSLoginForm.value)">
						<div class="form-group">
							<input type="text" class="form-control" style="width: 200%;" placeholder="Username" required="required"
								formControlName="username">
							<i class="fa fa-user user_icon"></i>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" style="width: 200%;" placeholder="Password"
								required="required" formControlName="password">
							<i class="fa fa-lock"></i>
						</div>
						<div class="form-group btn-container">
							<button class="btn btn-primary btn-block" style="width: 200%;" [disabled]="OBSLoginForm.invalid">SIGN
								IN</button>
						</div>
					</form>

					<br />

				</div>

			</div>

			<!--Login end-->

		</div>
	</div>
</div>

<!--footer area start-->
<footer class="footer_widgets">
	<div class="container">
		<div class="footer_top">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-7">
					<div class="widgets_container contact_us">
						<h3>Contacts us</h3>
						<div class="footer_contact">
							<ul>
								<li><i class="fa fa-home"></i><span>Addresss:</span> Lorem Ipsum is simply dummy text of the printing
									and typesetting industry. Lorem Ipsum</li>
								<li><i class="fa fa-phone"></i><span>Phone:</span> (+91) 866-540-3229</li>
								<li><i class="fa fa-envelope-square"></i><span>Email:</span> info@Lorem Ipsum .com</li>
							</ul>
						</div>

					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-5">
					<div class="widgets_container widget_menu">
						<h3>Information</h3>
					</div>
				</div>
				<div class="col-lg-6 col-md-4 col-sm-4">
					<div class="widgets_container widget_menu">
						<h3>My Account</h3>
						<div class="footer_menu">
							<div class="footer_contact">
								<ul>
									<li> Proudly operated from Yorkshire by Preventx and MESMAC as the Nationally commissioned provider of
										HIV home-sampling screening. </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="copyright_area text-center">
						<p>Copyright &copy; 2019 <a href="#">Medintu</a> All Right Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--footer area end-->