<div class="panel-body">
    <div class="tile">
        <h4 class="panel-title">&nbsp;&nbsp;Contact Info</h4>
  <table class="table profile__table">
    <tbody>
      <tr>
        <th><strong>User Name</strong></th>
        <td>{{username[0]}}</td>
      </tr>
      <tr>
        <th><strong>First Name</strong></th>
        <td>{{username[1]}}</td>
      </tr>
      <tr>
        <th><strong>Last Name</strong></th>
        <td>{{username[2]}}</td>
      
      </tr>
      <tr>
        <th><strong>Phone Number</strong></th>
        <td>{{username[3]}}</td>
      
      </tr>
      <tr>
        <th><strong>Email Id</strong></th>
        <td>{{username[4]}}</td>
      
      </tr>
    </tbody>
  </table>
  </div>
</div>