<!-- Main Wrapper Start -->




<!-- delivery  start -->


<div class="about_section check padt2">

  <div class="container">

    <div class="row">

      <div class="col-lg-12 col-md-12">

        <div class="panel">

          <div class="panel_heading">
            <h3>Tests</h3>
          </div>

          <div class="panel_body">

            <div class="account_form checkpostal">

  
              <h2>Current commissioner is providing below test are you willing to take </h2>

              <form [formGroup]="customForm" (ngSubmit)="show(customForm)">


                  <ng-container *ngIf="firstcodelength.length==1">
                     <h4 class="testcodes_1">This is the your comission currently your going to this test  <h3> " {{firstcodelength[0].testName}} " </h3></h4>
                  </ng-container>

                   <ng-container *ngIf="firstcodelength.length!=1">
                     <span class="form_6" *ngFor="let testvalue of firstcodelength;let i=index;">
                    <input type="checkbox" formControlName="firstcode" id="{{testvalue.id}}"
                    [checked]="testvalue.defaultTest" [value]="testvalue.id" (click)="onCheckChange(testvalue)"/>{{testvalue.testName}}
                   </span>
                  </ng-container>
                 
                
            
                <div class="buttons button_7">
                  <button class="btn pull-left questionaries_1" (click)="back()"> <i
                      class="fa fa-arrow-circle-left"></i> Back</button>
                  <button  class="btn pull-right questionaries_2" type="submit"> Next  <i
                      class="fa fa-arrow-circle-right"></i> </button>
                </div>


              </form>

            </div>
          </div>

        </div>


      </div>

    </div>

  </div>
</div>


<!--footer area start-->
<footer class="footer_widgets">
  <div class="container">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-7">
          <div class="widgets_container contact_us">
            <h3>Contacts us</h3>
            <div class="footer_contact">
              <ul>
                <li><i class="fa fa-home"></i><span>Addresss:</span> Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum</li>
                <li><i class="fa fa-phone"></i><span>Phone:</span> (+91) 866-540-3229</li>
                <li><i class="fa fa-envelope-square"></i><span>Email:</span> info@Lorem Ipsum .com</li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-5">
          <div class="widgets_container widget_menu">
            <h3>Information</h3>

          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4">
          <div class="widgets_container widget_menu">
            <h3>My Account</h3>
            <div class="footer_menu">
              <div class="footer_contact">
                <ul>
                  <li> Proudly operated from Yorkshire by Preventx and MESMAC as the Nationally commissioned provider of
                    HIV home-sampling screening. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="copyright_area text-center">
            <p>Copyright &copy; 2019 <a href="#">Medintu</a> All Right Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer area end-->