<!-- Main Wrapper Start -->


<!-- A few questions start -->


<div class="about_section padt5">

  <div class="container">

    <div class="panel">

      <div class="panel_heading">

        <h3>A few quick ask questions</h3>

      </div>

      <div class="panel_body">

       
         <div class="account_form">

             <form  [formGroup]="user" (ngSubmit)="datesend(user.value)">

              <div class="row">

              <div class="col-lg-6 col-md-6">

                <p>
                  <label>Your Dob <span>*</span></label>
                  <input type="date" formControlName="dob">
                  <span *ngIf="user.controls['dob'].invalid && user.controls['dob'].touched" class='text text-danger'>date is Required</span>
                </p>

                <p>
                  <label>I am a <span>*</span></label>
                  <input type="text" formControlName="gender" readonly>
                  <a class="error_form" [routerLink]="['/personsdetails',id]">(edit)</a>
                 </p>

                <p>
                  <label>I have sex with <span>*</span></label>
                  <input type="text" formControlName="sex" readonly>
                  <a class="error_form" [routerLink]="['/personsdetails',id]">(edit)</a>
                </p>

                <p>
                  <label>My ethnic group is <span>*</span></label>
                  <input type="text" readonly>
                  <a class="error_form" [routerLink]="['/personsdetails',id]">(edit)</a>
                </p>

              </div>

              <div class="col-lg-6 col-md-6">

                  <div class="text2 text_3">
                      <p>When did you last a hive an HIV test?</p>
                      <label>
                        <input type="radio" value="never tested" formControlName="hiv" />
                        <span>Never tested</span>
                      </label>
                      <label>
                        <input type="radio" value="over a year ago" formControlName="hiv" />
                        <span>Over a year ago</span>
                      </label>
                      <label>
                        <input type="radio"  value="with in last year" formControlName="hiv" />
                        <span>with in last year</span>
                      </label>
                    </div>


                    <div class="text2 text_3">
                        <p>Have you had unprotected sex with in the last 12 months?</p>
                        <label>
                          <input type="radio" value="No" formControlName="last"/>
                          <span>No</span>
                        </label>
                        <label>
                          <input type="radio" value="Yes with i partner"  formControlName="last" />
                          <span>Yes with i partner</span>
                        </label>
                        <label>
                          <input type="radio" value="yes with 2-5 partners"  formControlName="last" />
                          <span>yes with 2-5 partners</span>
                        </label>
                        <label>
                          <input type="radio" value="yes with 6-12 partners" formControlName="last"  />
                          <span>yes with 6-12 partners</span>
                        </label>
                        <label>
                          <input type="radio" value="yes more than 12 partners"  formControlName="last"/>
                          <span>yes more than 12 partners</span>
                        </label>
                      </div>

                      <div class="text2 text_3">
                          <p>How many partners have you had sex with in the last 12 moths?</p>
                          <label>
                            <input type="radio"  value="No sexual problem" formControlName="partner" />
                            <span>No sexual problem</span>
                          </label>
                          <label>
                            <input type="radio"  value="just 1 partner" formControlName="partner" />
                            <span>just 1 partner</span>
                          </label>
                          <label>
                            <input type="radio"  value="2-5 partners" formControlName="partner" />
                            <span>2-5 partners</span>
                          </label>
                          <label>
                            <input type="radio"  value="6-12 partners" formControlName="partner" />
                            <span>6-12 partners</span>
                          </label>
                          <label>
                            <input type="radio"  value="more than 12 partners" formControlName="partner" />
                            <span>more than 12 partners</span>
                          </label>
                        </div>

                        
                      <div class="text2 text_3">
                     <p>How oftner have you had sex under in influence of alchol or recreational drugs?</p>
                     <label>
                     <input type="radio"  value="Never" formControlName="under" />
                     <span>Never</span>
                      </label>
                      <label>
                      <input type="radio"  value="Sometime" formControlName="under"  />
                      <span>Sometime</span>
                      </label>
                     <label>
                     <input type="radio"  value="Usually" formControlName="under"  />
                    <span>Usually</span>
                    </label>
                    <label>
                  <input type="radio"  value="always" formControlName="under"  />
                  <span>always</span>
                </label>
              </div>
  
               </div>

              </div>
           
              <div class="buttons button_3">
                  <button class="btn btn-success pull-left question_1"  routerLink="/test"><i class="fa fa-arrow-circle-left"></i>Back</button>
                  <button type="submit" class="btn pull-right question_2">Next<i class="fa fa-arrow-circle-right"></i></button>
              </div>
           

             </form>
           

             
          </div>
      </div>
    </div>

   

  </div>
</div>

<!-- A few questions end -->


<!--footer area start-->
<footer class="footer_widgets">
  <div class="container">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-7">
          <div class="widgets_container contact_us">
            <h3>Contacts us</h3>
            <div class="footer_contact">
              <ul>
                <li><i class="fa fa-home"></i><span>Addresss:</span> Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum</li>
                <li><i class="fa fa-phone"></i><span>Phone:</span> (+91) 866-540-3229</li>
                <li><i class="fa fa-envelope-square"></i><span>Email:</span> info@Lorem Ipsum .com</li>
              </ul>
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-5">
          <div class="widgets_container widget_menu">
            <h3>Information</h3>

          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4">
          <div class="widgets_container widget_menu">
            <h3>My Account</h3>
            <div class="footer_menu">
              <div class="footer_contact">
                <ul>
                  <li> Proudly operated from Yorkshire by Preventx and MESMAC as the Nationally commissioned provider of
                    HIV home-sampling screening. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="copyright_area text-center">
            <p>Copyright &copy; 2019 <a href="#">Medintu</a> All Right Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer area end-->