<!-- Main Wrapper Start -->


<!-- delivery  start -->
<div class="about_section">

  <div class="container collection_1">

    <h2 class="title_3">Great news, you're eligible to request a free test kit.</h2>
   
    <div class="row">

      <div class="col-lg-12 col-md-12">

        <div class="panel">

          <div class="panel_heading">
            <h3>collection proces</h3>
          </div>

          <div class="panel_body inside_4">

            <p> Unlike some STIs such as Chlamydia (which can be tested from a urine sample), the HIV virus is
              blood-borne and therefore a small blood sample is the most accurate way to test for the infection.</p>

            <p>Please order a kit only if you are happy with this collection process.</p>

            <div class="row test_image">

              <div class="col-md-4">
                  <div class="inner_image"><img src="../../../assets/img/img/test/image1.png" alt="path not correct" class="img-responsive" />
                    <p>Make a pierce to your finger with safety lancent given (Lancent is for single use only,extra set included)</p>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="inner_image"><img src="../../../assets/img/img/test/image2.png" alt="path not correct" class="img-responsive" />
                    <br/>
                    <br/>
                    <p>Carefully 'milk' Your finger to get some blood out</p>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="inner_image">
                    <img src="../../../assets/img/img/test/image3.png" alt="path not correct" class="img-responsive" />
                   
                    <p>Carefully collect aroud 10 drops of blood (roughly quarter of a teaspon) in to the tube we provided in the kit</p>
                  </div>
              </div>

            </div>

         

           
          </div>

        </div>
      </div>

    </div>



    <div class="buttons">
      <button class="btn pull-left" [routerLink]="['/personsdetails']"><i class="fa fa-arrow-circle-left"></i> Back</button>
      <button class="btn pull-right" (click)="second()">Next <i class="fa fa-arrow-circle-right"></i></button>
    </div>

  </div>
</div>



<!-- A delivery end -->




<!--footer area start-->
<footer class="footer_widgets">
  <div class="container">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-7">
          <div class="widgets_container contact_us">
            <h3>Contacts us</h3>
            <div class="footer_contact">
              <ul>
                <li><i class="fa fa-home"></i><span>Addresss:</span> Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum</li>
                <li><i class="fa fa-phone"></i><span>Phone:</span> (+91) 866-540-3229</li>
                <li><i class="fa fa-envelope-square"></i><span>Email:</span> info@Lorem Ipsum .com</li>
              </ul>
            </div>
           
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-5">
          <div class="widgets_container widget_menu">
            <h3>Information</h3>

          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4">
          <div class="widgets_container widget_menu">
            <h3>My Account</h3>
            <div class="footer_menu">
              <div class="footer_contact">
                <ul>
                  <li> Proudly operated from Yorkshire by Preventx and MESMAC as the Nationally commissioned provider of
                    HIV home-sampling screening. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="copyright_area text-center">
            <p>Copyright &copy; 2019 <a href="#">Medintu</a> All Right Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer area end-->