




<!--first page start -->
<div class="about_section mt-60" id="age_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">

			</div>

			<div class="col-lg-12 col-md-12">

				<div class="about_content text-left">
					<h1>Around 13% of the estimated 100,000 people living with HIV,Syphilis in the UK remain
						undiagnosed.</h1>
					<p>Free self-sampling HIV, Syphilis test kits are available in many areas of the country — enter
						your details
						below to
						check your eligibility:</p>
				</div>


			</div>

			<div class="col-lg-12 col-md-12">

				<div class="account_form login_form">

					<!----more details start-->

					<div class="panel">

						<div class="panel_heading">

							<h5 class="text-center">Please Check Your Eligibility</h5>

						</div>

						<div class="panel_body">

							<div class="row">

								<div class="col-lg-12 col-md-12">

									<form class="checkage">

										<p>
											<label>Enter Your age <span>*</span></label>
											<input type="text" class="age" required [(ngModel)]="age"
												name="age" class="col-md-7" required />
										</p>
										
										<div class="login_submit1">
											<input type="button" (click)="pass(age)"
												class="btn btn-info btn_another login_button" value="GO">
										</div>

										<h6 class="text text-danger text-center eligible" *ngIf="test">Sorry - we're not
											able to offer postal tests to under 16s in your area, but other services are
											available.
										</h6>

									</form>

								</div>
							</div>

						</div>
					</div>

					<!--more details end-->

				 </div>

				<!--enter details start-->



				<!--enter details end-->

			</div>

		</div>
	</div>

</div>
<!--header end-->

<!--person details start-->

<!---person details end-->


<!--footer area start-->
<footer class="footer_widgets">
	<div class="container">
		<div class="footer_top">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-7">
					<div class="widgets_container contact_us">
						<h3>Contacts us</h3>
						<div class="footer_contact">
							<ul>
								<li><i class="fa fa-home"></i><span>Addresss:</span> Lorem Ipsum is simply dummy text of
									the printing
									and typesetting industry. Lorem Ipsum</li>
								<li><i class="fa fa-phone"></i><span>Phone:</span> (+91) 866-540-3229</li>
								<li><i class="fa fa-envelope-square"></i><span>Email:</span> info@Lorem Ipsum .com</li>
							</ul>
						</div>

					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-5">
					<div class="widgets_container widget_menu">
						<h3>Information</h3>

					</div>
				</div>
				<div class="col-lg-6 col-md-4 col-sm-4">
					<div class="widgets_container widget_menu">
						<h3>My Account</h3>
						<div class="footer_menu">
							<div class="footer_contact">
								<ul>
									<li> Proudly operated from Yorkshire by Preventx and MESMAC as the Nationally
										commissioned provider of
										HIV home-sampling screening. </li>
								</ul>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="copyright_area text-center">
						<p>Copyright &copy; 2019 <a href="#">Medintu</a> All Right Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--footer area end-->






<style>



</style>