
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
      <p>Medintu Web Application</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    </ul>
  </div>

 <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="widget-small primary coloured-icon"><i class="icon fa fa-plus fa-3x"></i>
        <div class="info">
          <h4>Order Placed</h4>
          <p><b>{{dashData.orderplaced}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small info coloured-icon"><i class="icon fa fa-share-o-up fa-share"></i>
        <div class="info">
          <h4>Order Dispached</h4>
          <p><b>{{dashData.orderDispatched}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small warning coloured-icon"><i class="icon fa fa-superpowers-o fa-superpowers"></i>
        <div class="info">
          <h4>Non Reactive</h4>
          <p><b>{{dashData.resultNonReactive}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small danger coloured-icon"><i class="icon fa fa-bolt fa-bolt"></i>
        <div class="info">
          <h4>Reactive</h4>
          <p><b>{{dashData.resultReactive}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3" data-toggle="modal" data-target="#myModalspentbudget" data-backdrop="static" *ngIf="role=='SUPERADMIN'">
      <div class="widget-small info coloured-icon"><i class="icon fa fa-money fa-money"></i>
        <div class="info">
          <h4>Budget Spent</h4>
          <p><b>{{dashData.sponsorBudgetSpent}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3" data-toggle="modal" data-target="#myModalspentbudget" data-backdrop="static"  *ngIf="role=='ADMIN'">
        <div class="widget-small info coloured-icon"><i class="icon fa fa-money fa-money"></i>
          <div class="info">
            <h4>Budget Spent</h4>
            <p><b>{{dashData.sponsorBudgetSpent}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3" data-toggle="modal" data-target="#myModalspentbudget" data-backdrop="static"  *ngIf="role=='COMMISSIONERUSER'">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-money fa-money"></i>
            <div class="info">
              <h4>Budget Spent</h4>
              <p><b>{{dashData.sponsorBudgetSpent}}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-toggle="modal" data-target="#myModalspentbudget" data-backdrop="static"  *ngIf="role=='SUPPORTUSER'">
            <div class="widget-small info coloured-icon"><i class="icon fa fa-money fa-money"></i>
              <div class="info">
                <h4>Budget Spent</h4>
                <p><b>{{dashData.sponsorBudgetSpent}}</b></p>
              </div>
            </div>
          </div>

    <!--Modal for spent limit supportuser -->
    <div class="modal " id="myModalspentbudget" *ngIf="role=='SUPPORTUSER'">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title text-center">Budget Spent</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
             <table class="table table-bordered table-striped">
               <thead>
                 <th>#</th>
                 <th>Order Id</th>
                 <th>Sponsor Name</th>
                 <th>Budget Spent</th>
                 <th>Transaction Date</th>
               </thead>
               <tbody>
                 <tr *ngFor="let item of commissionerspentdata |paginate: { itemsPerPage: 10, currentPage: p };let i=index">
                <td>{{i+1}}</td>
                 <td>{{item.orderId}}</td>
                 <td>{{item.sponsorName}}</td>
                 <td>{{item.budgetSpent | currency:'GBP': true}}</td>
                 <td>{{item.txDate|date: 'dd-MM-yyyy'}}</td>
                </tr>
               </tbody>
             </table>
             <pagination-controls (pageChange)="p = $event" class="pull-right"></pagination-controls>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
      <!--Modal for spent limit Ends -->

       <!--Modal for spent limit for CommissionerUser-->
    <div class="modal " id="myModalspentbudget" *ngIf="role=='COMMISSIONERUSER'">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title text-center">Budget Spent</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
             <table class="table table-bordered table-striped">
               <thead>
                 <th>#</th>
                 <th>Order Id</th>
                 <th>Sponsor Name</th>
                 <th>Budget Spent</th>
                 <th>Transaction Date</th>
               </thead>
               <tbody>
                 <tr *ngFor="let item of commissionerspentdata |paginate: { itemsPerPage: 10, currentPage: p };let i=index">
                <td>{{i+1}}</td>
                 <td>{{item.orderId}}</td>
                 <td>{{item.sponsorName}}</td>
                 <td>{{item.budgetSpent | currency:'GBP': true}}</td>
                 <td>{{item.txDate|date: 'dd-MM-yyyy'}}</td>
                </tr>
               </tbody>
             </table>
             <pagination-controls (pageChange)="p = $event" class="pull-right"></pagination-controls>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
      <!--Modal for spent limit Ends -->

  <!--Modal for spent limit for ADMIN-->
  <div class="modal " id="myModalspentbudget" *ngIf="role=='ADMIN'">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center">Budget Spent</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
           <table class="table table-bordered table-striped">
             <thead>
               <th>#</th>
               <th>Order Id</th>
               <th>Sponsor Name</th>
               <th>Budget Spent</th>
               <th>Transaction Date</th>
             </thead>
             <tbody>
               <tr *ngFor="let item of commissionerspentdata |paginate: { itemsPerPage: 10, currentPage: p };let i=index">
              <td>{{i+1}}</td>
               <td>{{item.orderId}}</td>
               <td>{{item.sponsorName}}</td>
               <td>{{item.budgetSpent | currency:'GBP': true}}</td>
               <td>{{item.txDate|date: 'dd-MM-yyyy'}}</td>
              </tr>
             </tbody>
           </table>
           <pagination-controls (pageChange)="p = $event" class="pull-right"></pagination-controls>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>
    <!--Modal for spent limit Ends -->

    
  <!--Modal for spent limit for SUPERADMIN-->
  <div class="modal " id="myModalspentbudget" *ngIf="role=='SUPERADMIN'">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center">Budget Spent</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
           <table class="table table-bordered table-striped">
             <thead>
               <th>#</th>
               <th>Order Id</th>
               <th>Sponsor Name</th>
               <th>Budget Spent</th>
               <th>Transaction Date</th>
             </thead>
             <tbody>
               <tr *ngFor="let item of commissionerspentdata |paginate: { itemsPerPage: 10, currentPage: p };let i=index">
              <td>{{i+1}}</td>
               <td>{{item.orderId}}</td>
               <td>{{item.sponsorName}}</td>
               <td>{{item.budgetSpent | currency:'GBP': true}}</td>
               <td>{{item.txDate|date: 'dd-MM-yyyy'}}</td>
              </tr>
             </tbody>
           </table>
           <pagination-controls (pageChange)="p = $event" class="pull-right"></pagination-controls>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>
    <!--Modal for spent limit Ends -->
      

    <div class="col-md-6 col-lg-3">
      <div class="widget-small warning coloured-icon"><i class="icon fa fa-money fa-money"></i>
        <div class="info">
          <h4>Budget Remaining</h4>
          <p><b>{{dashData.sponsorBudgetRemaining}}</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="tile">
        <h3 class="tile-title">Sampling Kit</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="tile">
        <h3 class="tile-title">Sampling Kit</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
        </div>
      </div>
    </div>
  </div>


