


<!--about section area -->
<div class="about_section mt-60">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12">

        <!----more details start-->

        <div class="account_form form_4">

          <div class="panel">

            <div class="panel_heading">

              <h5 class="text-center">Please Enter Details</h5>

            </div>

            <div class="panel_body">

              <div class="row">

                <div class="col-lg-12 col-md-12">

                  <form class="inner_1" #contactForm="ngForm">

                    <p>
                      <label>Postal code is <span>*</span></label>

                      <input type="text" [(ngModel)]="postalcode" name="postalcode" class="col-md-7" required
                        #postal="ngModel">
                      <span *ngIf="postal.invalid && (postal.dirty || postal.touched)" class="error_form">
                        <span *ngIf="postal.errors.required" class="error_form">
                          please enter post code
                        </span>
                      </span>
                    </p>

                    <p>
                      <label>I am a <span>*</span></label>
                      <select [(ngModel)]="gender" name="gender" required #persons="ngModel">
                        <option value="Man">Man</option>
                        <option value="Female">Woman</option>
                        <option value="TransMan">TransMan</option>
                        <option value="TransWoman">TransWoman</option>
                      </select>
                      <span *ngIf="persons.invalid && (persons.dirty || persons.touched)" class="error_form">
                        <span *ngIf="persons.errors.required" class="error_form">
                          please select gender
                        </span>
                      </span>
                    </p>

                    <p>
                      <label>I have sex with <span>*</span></label>

                      <select [(ngModel)]="oppositeGender" name="oppositeGender" required #people="ngModel">
                        <option value="Men">Men</option>
                        <option value="Women">Woman</option>
                        <option value="Men and Women">Men and Women</option>
                      </select>
                      <span *ngIf="people.invalid && (people.dirty || people.touched)" class="error_form">
                        <span *ngIf="people.errors.required" class="error_form">
                          please select oppositeGender
                        </span>
                      </span>
                    </p>

                    <p>
                      <label>My ethnic group is <span>*</span></label>

                      <select [(ngModel)]="selectedEthenicName" name="selectedEthenicName" class="col-md-7" required
                        #ethinic="ngModel">
                        <option *ngFor="let c of ethenicData" [ngValue]="c">{{c.ethnicType}}</option>
                      </select>
                      <span *ngIf="ethinic.invalid && (ethinic.dirty || ethinic.touched)" class="error_form">
                        <span *ngIf="ethinic.errors.required" class="error_form">
                          please select Ethnic Group
                        </span>
                      </span>

                    </p>

                    <button class="btn btn-info btn_another6"
                      (click)="createGenderEthenic(gender,oppositeGender,selectedEthenicName,dates,postalcode)"
                      [disabled]="contactForm.invalid">SUBMIT</button>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-info btn_another6" [routerLink]="['/login']"><i class="fa fa-arrow-left fa-2x"></i>
            Chek Eligibility</button>
        </div>

        <!--more details end-->

      </div>
    </div>
  </div>
</div>
<!--about section end-->

<!--footer area start-->
<footer class="footer_widgets">
  <div class="container">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-7">
          <div class="widgets_container contact_us">
            <h3>Contacts us</h3>
            <div class="footer_contact">
              <ul>
                <li><i class="fa fa-home"></i><span>Addresss:</span> Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry. Lorem Ipsum</li>
                <li><i class="fa fa-phone"></i><span>Phone:</span> (+91) 866-540-3229</li>
                <li><i class="fa fa-envelope-square"></i><span>Email:</span> info@Lorem Ipsum .com</li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-5">
          <div class="widgets_container widget_menu">
            <h3>Information</h3>

          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4">
          <div class="widgets_container widget_menu">
            <h3>My Account</h3>
            <div class="footer_menu">
              <div class="footer_contact">
                <ul>
                  <li> Proudly operated from Yorkshire by Preventx and MESMAC as the Nationally commissioned provider of
                    HIV home-sampling screening. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="copyright_area text-center">
            <p>Copyright &copy; 2019 <a href="#">Medintu</a> All Right Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer area end-->